@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    --page-background-color: hsl(212, 45%, 89%);
    --section-background-color: hsl(0, 0%, 100%);
    --font-color: hsl(220, 15%, 55%);
    --accent-font-color: hsl(218, 44%, 22%);
}

body {
    margin: 0;
}

#container {
    background-color: var(--page-background-color);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: var(--section-background-color);
    max-width: min-content;
}

#qr-code {
    border-radius: 1.5rem;
    width: 20dvh;
}

#info {
    text-align: center;
    font-family: 'Outfit';
    margin: 1rem 0.5rem;
}

#info strong {
    color: var(--accent-font-color);
    font-size: 20px;
    font-weight: 700;
}

#info p {
    color: var(--font-color);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
}

/* author attribution. Not part of the exercise */
.attribution {
    font-family: 'Outfit';
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    min-width: 100dvw;
    padding-bottom: 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}